PORT=8002

PG_DB_HOST=
PG_DB_NAME=
PG_DB_USER_NAME=
PG_DB_PASSWORD=

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASS=

JWT_SECRET_KEY=

FRONTEND_LOGIN_URL=http://localhost:3000
BACKEND_URL=

REDIS_URL=redis://localhost:6379

AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=
S3_BUCKET=